<div class="contenedor-seccion">

    <div class="titulos">Three steps prediction</div>
    <div class="contenedor-pasos">
        <div class="contenedor-paso col-xs-3">
            <div class="contenedor-paso">
                <div class="circuloPaso" ng-class="{circuloPasoActivo: stepOne}">
                    1
                </div>
                <div class="texto-paso">
                    Upload Historic data
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
        </div>
        <div class="col-xs-3">
            <div class="contenedor-paso" >
                <div class="circuloPaso" ng-class="{circuloPasoActivo: stepTwo}">
                    2
                </div>
                <div class="texto-paso">
                    Upload predicting data
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
        </div>
        <div class="col-xs-3">
            <div class="contenedor-paso" >
                <div class="circuloPaso" ng-class="{circuloPasoActivo: stepThree}">
                    3
                </div>
                <div class="texto-paso">
                    Prediction Results
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div ng-show="stepOne">
        <div ng-controller="AnalysisController">
            <div class="row" ng-show="showVariables">
                <div class="col-xs-12" >
                    <button class="btn-block btn-warning" ng-click="chooseVariables()">Continue with the prediction</button>
                </div>
                <div class="col-xs-12 col-md-offset-1 col-md-11" >
                    <table st-table="variables" st-safe-src="rowCollection" class="table table-striped">
                        <thead>
                        <tr>
                            <th row-select-all="variables"  selected="selectedVariables" ng-click="selectAll(variables)"></th>
                            <th>#</th>
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="variable in variables " >
                                <td  row-select="variable" ng-click="select(variable['$$hashKey']) "></td>
                                <td>{{$index + 1}}</td>
                                <td>{{variable.label}}</td>
                                <td>{{variable.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="titulo-secciones" ng-click="reUploadFile()">
                <div class="circuloPaso circulo-en-titulo">
                    1
                </div><h2 class="section-heading titulo-paso">Historical data upload</h2>
            </div>
            <div class="contenedor-analisis row" ng-hide="showVariables">
                <div class="col-xs-12">
                    <form action="/file-upload"
                          class="dropzone drop-zone"
                          id="my-awesome-dropzone" dropzone="dropzoneConfig">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="stepTwo">
        <div class="titulo-secciones">
            <div class="circuloPaso circulo-en-titulo">
                2
            </div>
            <h2 class="section-heading titulo-paso">Predicting data upload</h2>
        </div>
        <div class="modeloListo">
            Modelo listo <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span>
            <span class="" aria-hidden="true">Pressition: </span>
            <span class="" aria-hidden="true">{{modelError}}%</span>
        </div>

        <div class="contenedor-analisis row">
            <div ng-controller="PredictionController" class="col-xs-12">
                <form action="/file-upload"
                      class="dropzone drop-zone"
                      id="second-dropzone" dropzone="dropzonePrediction">
                </form>

                <div class="col-xs-2">
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>
    </div>
    <div ng-show="stepThree">
        <div class="titulo-secciones">
            <div class="circuloPaso circulo-en-titulo">
                3
            </div>
            <h2 class="section-heading titulo-paso">Prediction Results</h2>
        </div>
        <div class="modeloListo">
            <div class="items">Model ready <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span></div>
            <div class="items">Process data <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span></div>
            <a href="/prediction_upload" class="btn btn-success btn-lg btn-descargar">Download</a>
        </div>

        <div class="contenedor-analisis row">
            <div class="col-xs-12">
                <div class="col-xs-12 contenedor-grafica-resultado">
                </div>
            </div>
        </div>
    </div>
</div>
