<div class="contenedor-seccion">

  <div class="titulos">Predicción de datos en tres pasos</div>
  <div class="contenedor-pasos">
    <div class="contenedor-paso col-xs-3">
      <div class="contenedor-paso">
        <div class="circuloPaso" ng-class="{circuloPasoActivo: uno}">
          1
        </div>
        <div class="texto-paso">
          Subir historico
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3">
      <div class="contenedor-paso" ng-class="{circuloPasoActivo: dos}">
        <div class="circuloPaso">
          2
        </div>
        <div class="texto-paso">
          Subir datos a predecir
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3">
      <div class="contenedor-paso" ng-class="{circuloPasoActivo: tres}">
        <div class="circuloPaso">
          3
        </div>
        <div class="texto-paso">
          Resultados de predicción
        </div>
      </div>
    </div>
  </div>
  <br></br>
  <div>
    <div class="titulo-secciones">
        <div class="circuloPaso circulo-en-titulo">
            1
          </div><h2 class="section-heading titulo-paso">Selecciona el archivo historico</h2>
    </div>
    <div class="contenedor-analisis row">
      <div class="col-xs-12">
          <form action="/file-upload"
                class="dropzone drop-zone"
                id="my-awesome-dropzone" dropzone="dropzoneConfig">
          </form>

          <div class="col-xs-2">
          </div>
          <div class="col-xs-4">
          </div>
      </div>
    </div>
  </div>

  <br></br>
  <div class="contenedor-resultado-analisis row">
    <div class="col-xs-12">
      <div class="col-xs-12 contenedor-grafica-resultado resultados">
        Resultados
      </div>
      <div class="col-xs-12 contenedor-grafica-resultado">
        <div class="col-xs-12">
          Esta es mi grafica
        </div>
        <div class="col-xs-12">
          <button class="btn btn-success">Descargar</button>
        </div>
        <br></br><br></br>
      </div>
    </div>
  </div>
</div>