<div class="contenedor-seccion">

  <div class="titulos">Predicción de datos en tres pasos</div>
  <div class="contenedor-pasos">
    <div class="contenedor-paso col-xs-3">
      <div class="contenedor-paso">
        <div class="circuloPaso" ng-class="{circuloPasoActivo: uno}">
          1
        </div>
        <div class="texto-paso">
          Subir historico
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3">
      <div class="contenedor-paso" >
        <div class="circuloPaso" ng-class="{circuloPasoActivo: dos}">
          2
        </div>
        <div class="texto-paso">
          Subir datos a predecir
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-share-alt icono-paso" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3">
      <div class="contenedor-paso" >
        <div class="circuloPaso" ng-class="{circuloPasoActivo: tres}">
          3
        </div>
        <div class="texto-paso">
          Resultados de predicción
        </div>
      </div>
    </div>
  </div>
  <br></br>
  <div ng-show="uno">
    <div class="titulo-secciones">
        <div class="circuloPaso circulo-en-titulo">
            1
          </div><h2 class="section-heading titulo-paso">Selecciona el archivo historico</h2>
    </div>
    <div class="contenedor-analisis row">
      <div class="col-xs-12">
          <form action="/file-upload"
                class="dropzone drop-zone"
                id="my-awesome-dropzone" dropzone="dropzoneConfig">
          </form>

          <div class="col-xs-2">
          </div>
          <div class="col-xs-4">
          </div>
      </div>
    </div>
  </div>

  <div ng-show="dos">
    <div class="titulo-secciones">
        <div class="circuloPaso circulo-en-titulo">
            2
          </div>
      <h2 class="section-heading titulo-paso">Selecciona el archivo a predecir</h2>
    </div>
    <div class="modeloListo">
      Modelo listo <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span>
    </div>

    <div class="contenedor-analisis row">
      <div ng-controller="PredictionController" class="col-xs-12">
          <form action="/file-upload"
                class="dropzone drop-zone"
                id="second-dropzone" dropzone="dropzoneConfig">
          </form>

          <div class="col-xs-2">
          </div>
          <div class="col-xs-4">
          </div>
      </div>
    </div>
  </div>

  <div ng-show="tres">
    <div class="titulo-secciones">
        <div class="circuloPaso circulo-en-titulo">
            3
          </div>
      <h2 class="section-heading titulo-paso">Predicción de resultados</h2>
    </div>
    <div class="modeloListo">
      <div class="items">Modelo listo <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span></div>
      <div class="items">Datos procesados <span class="glyphicon glyphicon-ok modelo-listo" aria-hidden="true"></span></div>
      <a href="/prediction_upload" class="btn btn-success btn-lg btn-descargar">Descargar</a>
    </div>

    <div class="contenedor-analisis row">
      <div class="col-xs-12">
          <div class="col-xs-12 contenedor-grafica-resultado">
asdasd
          </div>
      </div>
    </div>
  </div>
