section{
    padding:5px!important;
}
footer{
    background: #3A3635;
    color: #FED135;
}
.titulos{
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 50px;
    text-align: center;
    color: #F1A535;
    text-shadow: 1px 1px 1px #aaa;
    margin-bottom: 20px;
}
.circuloPaso{
    border-radius: 50%;
    background: #383735;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: #fff;
    font-size: 60px;
    text-align: center;
}
.circulo-en-titulo{
    position: absolute;
    left: 20px;
    top: -25px;
}
.circuloPasoActivo{
    background: #F1A535;
}
.contenedor-analisis{
    border-radius: 5px;
}
.contenedor-pasos{
    display: block;
    overflow: auto;
}
.contenedor-pasos .pasos-left{
    border: 1px solid #E7E7E7;
    padding:5px;
    border-radius: 5px;
}
.contenedor-pasos .pasos-right{
    border: 1px solid #E7E7E7;
    padding:5px;
    border-radius: 5px;
}
.contenedor-modelo{
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}
.contenedor-grafica-resultado{
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}
.contenedor-seccion{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #dddddd;
}
.titulo-paso{
    padding-left: 110px!important;
}
.titulo-secciones{
    background: #F1A535;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    box-shadow: 1px 1px 5px #ddd;
    position: relative;
}
.titulo-secciones h2{
    margin: 0px!important;
    color: #FFFFFF;
}
.tabActivo{
    background: #35322E;
    color: #fff;
}
.texto-paso{
    text-align: center;
    font-size: 20px;
}
.icono-paso{
 font-size: 90px;
    margin-top: 20px;
    margin-left: -20px;
}
.resultados{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background: #35322E;
    color: #fff;
}
.dropdown.open .dropdown-toggle{
    background: rgba(254, 209, 54,0.7)!important;
    border-radius: 5px;
}
.dropdown-menu{
    background: #35322E!important;
}
.dropdown-menu a:hover{
    background: #35322E!important;
}
.modelo-listo{
    color: #449d44;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}