section{
    padding:5px!important;
}
footer{
    background: #3A3635;
    color: #FED135;
}
.contenedor-analisis{
    border-radius: 5px;
}
.contenedor-pasos{
    display: block;
    overflow: auto;
}
.contenedor-pasos .pasos-left{
    border: 1px solid #E7E7E7;
    padding:5px;
    border-radius: 5px;
}
.contenedor-pasos .pasos-right{
    border: 1px solid #E7E7E7;
    padding:5px;
    border-radius: 5px;
}
.contenedor-modelo{
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}
.contenedor-grafica-resultado{
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}
.contenedor-seccion{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #dddddd;
}
.titulo-secciones{
    background: #F1A535;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    box-shadow: 1px 1px 5px #ddd;
}
.titulo-secciones h2{
    padding:0px!important;
    margin: 0px!important;
    color: #FFFFFF;
}
.tabActivo{
    background: #35322E;
    color: #fff;
}
.resultados{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background: #35322E;
    color: #fff;
}
.dropdown.open .dropdown-toggle{
    background: rgba(254, 209, 54,0.7)!important;
    border-radius: 5px;
}
.dropdown-menu{
    background: #35322E!important;
}
.dropdown-menu a:hover{
    background: #35322E!important;
}